body {
  background-color: black;

  padding: 3%;
}




a {

  text-decoration: none;
  color: white;
}

h1 {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  font-size: 40px;

}

p {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  font-size: 16px;
  line-height: 1rem;
}


h2 {
  position:fixed;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  font-size: 40px;
  line-height: 2.8rem;
}

h2:hover{
  cursor:pointer;
}

.circle {
  line-height: 0;
  top:10px;
}
p.circle {


  opacity:1;
  position: relative;
  z-index: 1;

}

p.circle:hover+h3{
  opacity:1;

}

p.circle:hover{
  opacity:0;
  cursor: pointer;
}



h3 {
  position:relative;
  left:0;
  bottom:5px;
  z-index: -2;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  font-size: 10px;
  opacity:0;
  line-height:0px;
}


a.link :hover {
  text-decoration: underline;
}

#list {
  margin-left: 20%;
  margin-right: 10%;

}


@media screen and (max-width: 900px)
{
  #names {
    visibility:hidden;
}
 #websites {

  visibility:hidden;
}


}
