body {
  background-color: black;

}




a {

  text-decoration: none;

}

p {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-style: normal;
  font-weight: 400;
  color:white;
  font-size: 20px;
  line-height: 1.2rem;
}

a :hover {
  text-decoration: underline;
}
